/* Global */
body {
  background: #369;
}
form {
  margin: 0 0 0 0;
}
/* Layout */
#board-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#board,
#words {
  background: #fcfcfc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#board {
  display: inline-block;
}
#words {
  width: 80%;
}
h1, h2, h3, h4, h5, h6 {
  color: #fcfcfc;
  text-align: center;
}

/* Form elements */
.letterinput {
  height: 1em;
  width: 1em;
}
